################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Tutorial/Examples/Basic_consumer/Consumer_C#/obj
/Tutorial/Examples/Basic_consumer/Consumer_C#/bin/Debug/net8.0
/Tutorial/Examples/Basic_consumer/Producer_C#/bin/Debug/net8.0
/Tutorial/Examples/Basic_consumer/Producer_C#/obj
/Tutorial/Examples/Basic_consumer/Basic consumer.sln
/Tutorial/Examples/Competing_consumers/Consumer_C#/bin/Debug/net8.0
/Tutorial/Examples/Competing_consumers/Consumer_C#/obj
/Tutorial/Examples/Competing_consumers/Producer_C#/bin/Debug/net8.0
/Tutorial/Examples/Competing_consumers/Producer_C#/obj
/d
/RabbitMQ.GH/.vs/RabbitMQ.GH
/RabbitMQ.GH/RabbitMQ.GH/bin/Release/net48
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/Repo/v17/DocumentLayout.json
/.vs/Repo/v17/.wsuo
/.vs/Repo/FileContentIndex
/RabbitMQ.GH/RabbitMQ.GH/obj/Release/net48/RabbitMQ.8BA9C950.Up2Date
/RabbitMQ.GH/RabbitMQ.GH/obj/Release/net48/RabbitMQ.GH.AssemblyInfo.cs
/RabbitMQ.GH/RabbitMQ.GH/obj/Release/net48/RabbitMQ.GH.AssemblyInfoInputs.cache
/RabbitMQ.GH/RabbitMQ.GH/obj/Release/net48/RabbitMQ.GH.assets.cache
/RabbitMQ.GH/RabbitMQ.GH/obj/Release/net48/RabbitMQ.GH.csproj.BuildWithSkipAnalyzers
/RabbitMQ.GH/RabbitMQ.GH/obj/Release/net48/RabbitMQ.GH.csproj.CoreCompileInputs.cache
/RabbitMQ.GH/RabbitMQ.GH/obj/Release/net48/RabbitMQ.GH.csproj.FileListAbsolute.txt
/RabbitMQ.GH/RabbitMQ.GH/obj/Release/net48/RabbitMQ.GH.csproj.GenerateResource.cache
/RabbitMQ.GH/RabbitMQ.GH/obj/Release/net48/RabbitMQ.GH.gha
/RabbitMQ.GH/RabbitMQ.GH/obj/Release/net48/RabbitMQ.GH.pdb
/RabbitMQ.GH/RabbitMQ.GH/obj/Release/net48/RabbitMQ.GH.Properties.Resources.resources
/RabbitMQ.GH/RabbitMQ.GH/obj/Release/net48/RabbitMQ.GH.sourcelink.json
/RabbitMQ.GH/RabbitMQ.GH/obj/Release/net48/TempPE
/RabbitMQ.GH/RabbitMQ.GH/obj/Debug/net48/RabbitMQ.8BA9C950.Up2Date
/RabbitMQ.GH/RabbitMQ.GH/obj/Debug/net48/RabbitMQ.GH.AssemblyInfo.cs
/RabbitMQ.GH/RabbitMQ.GH/obj/Debug/net48/RabbitMQ.GH.AssemblyInfoInputs.cache
/RabbitMQ.GH/RabbitMQ.GH/obj/Debug/net48/RabbitMQ.GH.sourcelink.json
/RabbitMQ.GH/RabbitMQ.GH/obj/Debug/net48/TempPE
/Tutorial/Examples/Publisher_subscriber/Consumer_C#/Subscriber_2/bin/Debug/net8.0
/Tutorial/Examples/Publisher_subscriber/Consumer_C#/Subscriber_2/obj
/Tutorial/Examples/Publisher_subscriber/Consumer_C#/Subscriber_1/obj
/Tutorial/Examples/Publisher_subscriber/Consumer_C#/Subscriber_1/bin/Debug/net8.0
/Tutorial/Examples/Publisher_subscriber/Producer_C#/bin/Debug/net8.0
/Tutorial/Examples/Publisher_subscriber/Producer_C#/obj
/.vs
/Tutorial/Examples/Basic_routing/Consumer_C#/Consumer_1/obj
/Tutorial/Examples/Basic_routing/Consumer_C#/Consumer_1/bin/Debug/net8.0
/Tutorial/Examples/Basic_routing/Consumer_C#/Consumer_2/bin/Debug/net8.0
/Tutorial/Examples/Basic_routing/Consumer_C#/Consumer_2/obj
/Tutorial/Examples/Basic_routing/Producer_C#/bin/Debug/net8.0
/Tutorial/Examples/Basic_routing/Producer_C#/obj
/Tutorial/Examples/Request_reply/Client_C#/bin/Debug/net8.0
/Tutorial/Examples/Request_reply/Client_C#/obj
/Tutorial/Examples/Request_reply/Server_C#/bin/Debug/net8.0
/Tutorial/Examples/Request_reply/Server_C#/obj
/Tutorial/Examples/Topic_routing/Consumer_C#/Consumer_1/bin/Debug/net8.0
/Tutorial/Examples/Topic_routing/Consumer_C#/Consumer_1/obj
/Tutorial/Examples/Topic_routing/Consumer_C#/Consumer_2/bin/Debug/net8.0
/Tutorial/Examples/Topic_routing/Consumer_C#/Consumer_2/obj
/Tutorial/Examples/Topic_routing/Consumer_C#/Consumer_3/bin/Debug/net8.0
/Tutorial/Examples/Topic_routing/Consumer_C#/Consumer_3/obj
/Tutorial/Examples/Topic_routing/Producer_C#/bin/Debug/net8.0
/Tutorial/Examples/Topic_routing/Producer_C#/obj
